@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    font-family: 'Outfit';
    color: white;
    display: flex;
    justify-content: center;
    transition: 0.3s;
}

.scoreboard {
    background-color: rgba(9, 55, 92, 0.918);
    width: 18rem;
    height: 14rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: absolute;
    bottom: 80px;
    
}

header {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;
    
}


#players {
    margin-bottom: 5px;
    background-color:rgba(0, 117, 212, 0.918);
    padding: 11px;
    
    border-radius: 15px;
}

#idplayer {

    background-color:rgba(0, 117, 212, 0.918);
    padding: 11px;
    border-radius: 15px;
}

